#                                                # PYTHON :

# Python are case sensitive language 
    - Upper case 
    - lower case 
matters here 
for example :APPLE ,
             apple 
        both are different variables .
       : another one when we write True or False 
       here first letter should be capital like that etc...

# Comments in Python:
       - Single Line Comment :(#)

       - Multi Line : (""" """)

# Variables and data types:

A variable is a name given to a memory location in a program.

name = "Prachi"

age = 23

# Data Types
    - 
        Integers

        String

        Float

        Boolean

        None

- Keywords

    Keywords are reserved words in python.

# identifiers

#identifiers rules :
           -  starts with: a-z OR A-Z 
           
                     or  starts with ("_")
                     
                if you want to start with numbers you can't eg:(0-9)

# operators:
  
An operator is a symbol that performs a certain operation between operands.

#Types of Operators:
        - Arithmetic Operators ( + , - ,* , / , % , ** )

        - Relational / Comparison Operators ( == , != , > , < , >= , <= )

        - Assignment Operators ( = , +=, -= ,*= , /= , %= ,**= )

        - Logical Operators ( not , and , or )

# Input in Python:

        input( ) statement is used to accept values (using keyboard) from user

        input( ) #result for input( ) is always a str

        int ( input( ) ) #int

        float ( input( ) ) #float

In [42]:
# Write a Program to input 2 numbers & print their sum.

n1 = float(input(" first number: "))

n2 = float(input(" second number: "))

sum = n1+n2

print("the sum of: ",sum )

 first number: 1
 second number: 2
the sum of:  3.0

In [43]:
#WAP to input side of a square & print its area.

side = float(input(" side of square : "))

area = side *side

print("area of the square side :", area )

 side of square : 3
area of the square side : 9.0

In [46]:
#WAP to input 2 floating point numbers & print their average.
# average = (num1+num2)/2

num1 = float( input(" number 1: "))
num2 = float(input(" number 2: "))

average = ((num1+num2)/2)

print ( average )

 number 1: 3.5
 number 2: 6.5
5.0

In [7]:
#WAP to input 2 int numbers, a and b.
#Print True if a is greater than or equal to b. If not print False.

a = int (input(" number 1: "))
b = int (input(" number 2: "))

print(a >= b)

 number 1: 98
 number 2: 54
True

# Strings:
# - strings are immutable :

        - Immutable ka matlab hai ki ek baar create hone ke baad, uski value change nahi ki ja sakti.

#String is data type that stores a sequence of characters.

    - Basic Operations:
    concatenation
    “hello” + “world” =  “helloworld”

    - length of str

    len(str)

When you use the + operator between two strings in Python, 
it concatenates them together. 
    So, "5" + "5" would result in "55",
    not 10 as in numeric addition.

Here's how it works:

result = "5" + "5"
print(result)  # Output: "55"

The + operator concatenates the strings "5" and "5", resulting in the string "55". If you want to perform numerical addition instead, you need to convert the strings to integers first, like so:

result = int("5") + int("5")
print(result)  # Output: 10

This will output 10, as it performs numeric addition instead of string concatenation.

# Indentation :

"In Python, instead of using curly braces to separate blocks of code, we use indentation. This means we start each block of code with some spaces or tabs. For example:

  if condition:
      print('This code is inside the "if" block')
  else:
      print('This code is inside the "else" block')
The lines of code indented under if and else are separate blocks of code.

Python knows they belong to those blocks because of the indentation."

# Indexing:


str = “Pythonlearn”

1 2 3 4 5 6 7 8 9 10 11

str[0] is ‘P’, str[1] is ‘y’

# Slicing:
    Accessing parts of a string
    
        #str[ starting_idx : ending_idx ] #ending idx is not included

#Given string

            example_string = "PythonProgramming"

            # Example 1: Slicing example_string[1:4] is "yth"
            slice_1 = example_string[1:4]
            print("example_string[1:4] is:", slice_1)  # Output: "yth"

            # Example 2: Slicing example_string[:4] is same as example_string[0:4]
            slice_2 = example_string[:4]
            print("example_string[:4] is:", slice_2)  # Output: "Pyth"

            # Example 3: Slicing example_string[1:] is same as example_string[1:len(example_string)]
            slice_3 = example_string[1:]
            print("example_string[1:] is:", slice_3)  # Output: "ythonProgramming"

In [60]:
str = "Python_learn"
str[0]

'P'

# Slicing

Negative Index

str ="Apple"

str[ -3 : -1 ] is “pl”

In [62]:
str[-1]

'n'

In [63]:
str[-5]

'l'

In [64]:
str[:-6]

'Python'

In [65]:
str[-6]

'_'

In [66]:
str

'Python_learn'

In [67]:
str[-6:]

'_learn'

In [70]:
str[-3:]

'arn'

# String Functions

In [14]:
#String Functions

str = "i am a coder."

str.count("am") #counts the occurrence of substr in string

1

In [32]:
str.capitalize( )#capitalize the first letter

'I am a coder.'

In [23]:
str.find( "er") #returns 1st index of 1st occurrence

10

In [30]:

new = str.replace("i am a coder.", "i am a creator" ) #replaces all occurrences of old with new

In [31]:
new

'i am a creator'

In [33]:
#WAP to input user’s first name & print its length.

In [40]:
First_name = input("Users_first_name:")

print(len(First_name))

Users_first_name:tinu
4

In [46]:
#WAP to find the occurrence of ‘$’ in a String.

In [47]:
str.count("$")

1

In [44]:
str = "Pr$chi"

In [45]:
str[2]

'$'

# Conditional Statements

                                    if-elif-else (SYNTAX)

                                    if(condition) :

                                        Statement1

                                    elif(condition):

                                        Statement2

                                    else:

                                        statement N

In [48]:
#WAP to check if a number entered by the user is odd or even.

In [6]:
number = int(input("Enter a number : "))

#for float values we use float instead of int

if    number % 2 == 0:
         print ("number", number,"is even :" )
        
else:
        print ("number", number,"is odd  :" )

Enter a number : 1
number 1 is odd  :

In [76]:
#WAP to find the greatest of 3 numbers entered by the user.

In [5]:

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

if num1 >= num2 and num1 >= num3:
    greatest = (num1)
elif num2 >= num1 and num2 >= num3:
    greatest = (num2)
else :
    greatest = (num3)



print("The greatest number is:", greatest)

Enter the first number: 1
Enter the second number: 0
Enter the third number: 0
The greatest number is: 1.0

In [1]:
#WAP to find the greatest of 4 numbers entered by the user.

In [17]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
num4 = float(input("Enter the fourth number: "))

if num1 >= num2 and num1 >= num3 and num1 >= num4:
    print (num1)
elif num2 >= num1 and num2 >= num3 and num2 >= num4:
    print (num2)
elif num3 >= num1 and num3 >= num2 and num3 >= num4:
    print (num3)
else:
    print (num4)

Enter the first number: 12.0
Enter the second number: 34.3
Enter the third number: 3
Enter the fourth number: 4
34.3

In [13]:
# WAP to check if a number is a multiple of 7 or not.

In [106]:
num = float(input (" "))
    
if num % 7 == 0:
    print ("multiple of 7:", num)
else:
    print ("not a multiple of 7" )

 8
not a multiple of 7

In [104]:
num = float(input (" "))
    
if num % 7 == 0:
    print ("multiple of 7:", num)
else:
    print ("not a multiple of 7: " , num)

 14
multiple of 7: 14.0

In [2]:
#Create a program that asks the user to input their age and then prints whether they are eligible to vote or not
#(consider the legal voting age to be 18).

In [30]:
age = int(input("Enter a age :"))

if age >= 18:
    print("Eligible to vote :",age)
else:
    print("Not Eligible ")

Enter a age :76
Eligible to vote : 76

In [ ]:
#Develop a program that asks the user to input a number and then checks whether it is positive, negative, or zero.

In [38]:
num_s =  int(input("Enter a number:"))

if num_s > 0:
    print("number is positive :",num_s)
elif num_s < 0:
    print("number is negative:",num_s)
else :
    print("number is xero :",num_s)

Enter a number:-76
number is negative: -76

#Create a program that prompts the user to input their grade (as a percentage) and then prints their corresponding letter grade according to the following scale:

A: 90-100
B: 80-89
C: 70-79
D: 60-69
F: Below 60

In [60]:
grade = int(input("enter your grades in %:"))

if 90 <= grade <= 100:
    print ("grade A:",grade)

elif 80 <= grade <= 89:
    print ("grade B:",grade)
    
elif 70 <= grade <= 79:
    print ("grade C:",grade)

elif 60 <= grade <= 69:
    print ("grade D:",grade)
    
else: 
    print ("grade F:",grade)

enter your grades in %:90
grade A: 90

In [ ]:
#Write a Python function that takes a string as input and returns "Yes" if the string starts with a vowel,otherwise returns"No".

In [67]:

string = input("Enter a string:")

string_lower = string.lower()

# if you convert the string to lowercase before comparing it to vowels,
#it will handle both uppercase and lowercase strings correctly.

if string_lower[0] in ("a,e,i,o,u"):
    print ("yes")
else:
    print("no")

Enter a string:Prachi
no

In [70]:
#Q Create a function that accepts a string as a parameter and counts the number
#of vowels (a, e, i, o, u) in the string. The function should return the count

In [80]:
string = input("Enter a string:")
# Convert the string to lowercase for easier comparison
string_lower = string.lower()

vowel_count = 0

for char in string_lower:
    if char in ("a,e,i,o,u"):
        vowel_count += 1


print("Number of vowels in the string:", vowel_count)

Enter a string:AbCd
Number of vowels in the string: 1

In [81]:
#Develop a program that asks the user to input a year and then prints whether it is a leap year or not.

In [103]:
#In short, we divide by 100 and also check if it's divisible by 400 to make sure our calendar stays accurate over time, 
#matching the actual time it takes for the Earth to orbit the sun.

year = int(input("Enter a year:"))

if year % 4==0 and year % 100 != 0 or  year % 400 ==0:
    print("Yes ")
else :
    print("Not ")

Enter a year:2024
Yes

Q: #Create a program that simulates a simple login system.:
# Ask the user to input their username and password, and then check if they match a predefined username and password. Print a success message if they match, otherwise print a failure message.

In [116]:
username = input("Enter your username:")
Password = input("Enter your password:")

re_username = input("Enter your re_username:")
re_password = input("Enter your re_password:")

if username == re_username and Password == re_password:
    print("success ")
else:
    print("failed retry ")

Enter your username:popie
Enter your password:9182
Enter your re_username:popie
Enter your re_password:9182
success

In [118]:
#Develop a program that prompts the user to input the lengths of three sides of a triangle
#and then determines whether the triangle is equilateral, isosceles, or scalene.

In [122]:
#Sides:
#equilateral if all sides are equal,
#isosceles if at least two sides are equal, 
#and scalene if no sides are equal."

side1 = float(input("Enter the length of the first side: "))
side2 = float(input("Enter the length of the second side: "))
side3 = float(input("Enter the length of the third side: "))

# Check the type of triangle using conditional statements
if side1 == side2 == side3:
    print("The triangle is an equilateral triangle.")
elif side1 == side2 or side1 == side3 or side2 == side3:
    print("The triangle is an isosceles triangle.")
else:
    print("The triangle is a scalene triangle.")

Enter the length of the first side: 32
Enter the length of the second side: 22
Enter the length of the third side: 23
The triangle is a scalene triangle.

In [ ]:
#Write a Python function that takes a list of numbers as input and returns the sum of all the positive numbers in the list.

In [169]:
# Input list of numbers
numbers_list = [1, -2, 3, -4, 5]

# Initialize sum to 0
total = 0

# Check if the first number is positive
if numbers_list[0] > 0:
    total += numbers_list[0]

# Check if the second number is positive
if numbers_list[1] > 0:
    total += numbers_list[1]

# Check if the third number is positive
if numbers_list[2] > 0:
    total += numbers_list[2]

# Check if the fourth number is positive
if numbers_list[3] > 0:
    total += numbers_list[3]

# Check if the fifth number is positive
if numbers_list[4] > 0:
    total += numbers_list[4]

# Print the sum of positive numbers
print("Sum of positive numbers:", total)

Sum of positive numbers: 9

def sum_positive_numbers(numbers):
    total = 0  # Initialize sum to 0
    
    for num in numbers:  # Iterate through the list
        if num > 0:  # Check if the number is positive
            total += num  # If positive, add it to the sum
            
    return total  # Return the sum of positive numbers

# Test the function

numbers_list = [1, -2, 3, 98,4,88,29,28,2024]

print("Sum of positive numbers:", sum_positive_numbers(numbers_list))

In [162]:
# Input list of numbers
numbers_list = [1, -2, 3, -4, 5]

# Initialize sum to 0
total = 0

# Check if the first number is positive
if numbers_list[0] > 0:
    total += numbers_list[0]

# Check if the second number is positive
if numbers_list[1] > 0:
    total += numbers_list[1]

# Check if the third number is positive
if numbers_list[2] > 0:
    total += numbers_list[2]

# Check if the fourth number is positive
if numbers_list[3] > 0:
    total += numbers_list[3]

# Check if the fifth number is positive
if numbers_list[4] > 0:
    total += numbers_list[4]

# Print the sum of positive numbers
print("Sum of positive numbers:", total)

Sum of positive numbers: 9

In [172]:
a = [-1, 2, 5]
positive_numbers = [num for num in a if num >= 0]
total = sum(positive_numbers)
print(total)

7

# Lists in Python

A built-in data type that stores set of values

- It can store elements of different types (integer, float, string, etc.)

                marks = [87, 64, 33, 95, 76] #marks[0], marks[1]..
                student = ["Karan", 85,"Delhi"] #student[0], student[1]..
                student[0] = "Arjun" #allowed in python
                len(student) #returns length

# - List are mutable in python :

        - means "mutable" ka matlab hota hai ki ek object ki value changeable hai.

# List Slicing

In [ ]:


list_name[ starting_idx : ending_idx ] #ending idx is not included
Similar to String Slicing

marks = [87, 64, 33, 95, 76]

marks[ 1 : 4 ] is [64, 33, 95]

marks[ : 4 ] is same as marks[ 0 : 4]

marks[ 1 : ] is same as marks[ 1 : len(marks) ]

marks[ -3 : -1 ] is [33, 95]

# List Methods

In [ ]:
list = [2, 1, 3]

list.append(4) #adds one element at the end [2, 1, 3, 4]

- sorting in list :
        - list.sort( ) #sorts in ascending order by defalut : [1, 2, 3]
                - ascending [1, 2, 3]
                - descending [3,2,1]
        - list.sort( reverse=True ) #sorts in descending order [3, 2, 1]
            - eg: list.sort( reverse=True )
                    list = [3, 2, 1]
                    
list.reverse( ) #reverses list [3, 1, 2]
list.insert( idx, el ) #insert element at index

In [225]:
list.sort( reverse=True )
list

[4, 3, 2, 1]

In [227]:
# Define the list
my_list = [2, 1, 3]

# Append 4 to the end of the list
my_list.append(4)
print("After appending 4:", my_list)  # Output: [2, 1, 3, 4]

# Sort the list in ascending order
my_list.sort()
print("After sorting in ascending order:", my_list)  # Output: [1, 2, 3, 4]

# Sort the list in descending order
my_list.sort(reverse=True)
print("After sorting in descending order:", my_list)  # Output: [4, 3, 2, 1]

# Reverse the list
my_list.reverse()
print("After reversing the list:", my_list)  # Output: [1, 2, 3, 4]

# Insert the element at the specified index
my_list.insert(2, 5)
print("After inserting element at index 2:", my_list)  # Output: [1, 2, 5, 3, 4]

After appending 4: [2, 1, 3, 4]
After sorting in ascending order: [1, 2, 3, 4]
After sorting in descending order: [4, 3, 2, 1]
After reversing the list: [1, 2, 3, 4]
After inserting element at index 2: [1, 2, 5, 3, 4]

# List Methods

In [243]:
list = [2, 1, 3, 1]

list.remove(1) #removes first occurrence of element [2, 3, 1]
list

[2, 3, 1]

In [244]:
list.pop(1) #removes element at idx
list

[2, 1]

# Tuples in Python
"( )"showed in square brackets 

- A built-in data type that lets us create IMMUTABLE sequences of values.

In [257]:
list = [87, 64, 33, 95, 76]

# convert list -> tuple :

tup = (87, 64, 33, 95, 76) #tup[0], tup[1]..

 # tup[0] = 43 #NOT allowed in python

tup1 = ( )

tup2 = ( 1, )

tup3 = ( 1, 2, 3 )

In [264]:
tup[0] = 43 #tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [275]:
type(tup)

tuple

In [274]:
tup1

()

In [260]:
tup2

(1,)

In [261]:
tup3

(1, 2, 3)

# Tuple Methods

In [270]:
tup = (2, 1, 3, 1)

tup.index(3) #returns index position  of first occurrence

2

In [271]:
tup.count( 1 ) #counts total occurrences

2

# Practice

Q #WAP to count the number of students with the “A” grade in the following tuple.

        ["C","D","A","A","B","B","A"]

In [277]:
list = ["C","D","A","A","B","B","A"]

In [278]:
list.count("A")

3

Q #Store the above values in a list & sort them from “A” to “D”

In [280]:
list.sort()
list

['A', 'A', 'A', 'B', 'B', 'C', 'D']

In [173]:
#WAP to ask the user to enter names of their 3 favorite movies & store them in a list.

In [325]:
movies = [ ]#empty list 
movies.append(input("Enter 1 fav movie:"))
movies.append(input("Enter 2 fav movie:"))
movies.append(input("Enter 3 fav movie:"))

print(movies)

Enter 1 fav movie:shutter island
Enter 2 fav movie:Narnia
Enter 3 fav movie:Hi nana
['shutter island', 'Narnia', 'Hi nana']

In [326]:
movies

['shutter island', 'Narnia', 'Hi nana']

In [327]:
movies.append("stuard_little")

print(movies)

['shutter island', 'Narnia', 'Hi nana', 'stuard_little']

In [217]:
# Example :(mutable )
    
list = [1,2,3]

list.append(4)

list

[1, 2, 3, 4]

# palindrome

Q#WAP to check if a list contains a palindrome of elements. (Hint: use copy( ) method)
[1, 2, 3, 2, 1]
[1,"abc","abc", 1]

#A palindrome is a word, phrase, number, or other sequence of characters that reads the same forward and backward, ignoring spaces, punctuation, and capitalization
    - For example:

            "radar" is a palindrome because it reads the same forward and backward.
            
            "level" is a palindrome.
            
            "12321" is a numeric palindrome.
            
            "A man, a plan, a canal, Panama!" is a palindrome when spaces and punctuation are ignored.
            
- In Python, you can check if a string is a palindrome by comparing it with its reverse.

In [420]:
#step 1:

#list1 = [1, 2, 3, 2, 1]
list1 = [1,"abc","abc", 1]

In [421]:
# make another list of name copy_list: 
copy_list1 = list1.copy()

In [407]:
#step 2:

copy_list1

[1, 'abc', 'abc', 1]

In [408]:
#step3:

copy_list1.reverse()

In [409]:
#step4:

copy_list1

[1, 'abc', 'abc', 1]

In [410]:
#step5:

if (copy_list1 == list1):
    print("its a palindrome")
else:
    print("its not a palindrome")

its a palindrome

In [5]:
list1 = [1,2,3]

copy_list1 = list1.copy()

copy_list1.reverse()

if (copy_list1 == list1):
    print("its a palindrome")
else:
    print("its not a palindrome")

its not a palindrome

# Dictionary in Python

- Dictionaries are used to store data values in
#### key:value pairs

        (“key” : value)

- They are unordered, mutable(changeable) & 
- don’t allow duplicate keys

In [15]:
dict = {
    "name" : "shradha",
    "cgpa" : 9.6,
    "marks": [98,97,95],
    
    
}

In [16]:
dict["name"], dict["cgpa"], dict["marks"]

dict["key"] = "value"     #to assign or add new

In [17]:
dict

{'name': 'shradha', 'cgpa': 9.6, 'marks': [98, 97, 95], 'key': 'value'}

In [18]:
dict

{'name': 'shradha', 'cgpa': 9.6, 'marks': [98, 97, 95], 'key': 'value'}

In [21]:
numll_dict = { }

In [23]:
type(numll_dict)

dict

# Nested Dictionaries in Python

In [127]:
student = {
    "name"    : "prachi",
    "subjects" : {
        "phy"  :97,
        "chem" :95,
        "math" :76
    }
  
    
}

In [128]:
student["subjects"]["chem"]

95

# Dictionary Methods

            - myDict.keys( ) #returns all keys

            - myDict.values( ) #returns all values

            - myDict.items( ) #returns all (key, val) pairs as tuples

            - myDict.get( “key““ )#returns the key according to value

            - myDict.update( newDict ) #inserts the specified items to the dictionary

- total number of key : = eg : 

                            len(student) which is 2

In [129]:
# Given dictionary
student = {
    "name"    : "prachi",
    "subjects": {
        "phy": 97,
        "chem": 95,
        "math": 76
    }
}

# Example 1: Returns all keys
keys = student.keys()
print(keys)  # Output: dict_keys(['name', 'subjects'])

dict_keys(['name', 'subjects'])

In [130]:
# Example 2: Returns all values
values = student.values()
print(values)  # Output: dict_values(['shradha', {'phy': 97, 'chem': 95, 'math': 76}])

dict_values(['prachi', {'phy': 97, 'chem': 95, 'math': 76}])

In [131]:
# Example 3: Returns all (key, value) pairs as tuples
items = student.items()
print(items)  # Output: dict_items([('name', 'shradha'), ('subjects', {'phy': 97, 'chem': 95, 'math': 76})])

dict_items([('name', 'prachi'), ('subjects', {'phy': 97, 'chem': 95, 'math': 76})])

In [132]:
# Example 4: Returns the value associated with the key
value = student.get("name")
print(value)  # Output: shradha

prachi

In [133]:
# Example 5: Inserts the specified items into the dictionary
student.update({"age": 20})
print(student)  # Output: {'name': 'shradha', 'subjects': {'phy': 97, 'chem': 95, 'math': 76}, 'age': 20}

{'name': 'prachi', 'subjects': {'phy': 97, 'chem': 95, 'math': 76}, 'age': 20}

In [134]:
len(student)

3

In [135]:
subject_keys = student["subjects"].keys()
subject_keys

dict_keys(['phy', 'chem', 'math'])

In [138]:
student.get("name")#dict.get("key")....

'prachi'

# Set in Python


- Set is the collection of the unordered items.# no order /index

- Each element in the set must be unique & immutable.

nums = { 1, 2, 3, 4 }

set2 = { 1, 2, 2, 2 }#repeated elements stored only once, so it resolved to {1, 2}

null_set = set( ) #empty set syntax

 # Set Methods
- sets are mutable but elements of sets are immutable 

        set.add( element ) #adds an element

        set.remove( element ) #removes the element 

        set.clear( ) #empties the set

        set.pop( ) #removes a random value

set.union( set2 ) #combines both set values & returns new

set.intersection( set2 ) #combines common values & returns new

# Let‘s Practice

#WAP to enter marks of 3 subjects from the user and store them in a dictionary.

#Start with an empty dictionary & add one by one. Use subject name as key & marks as value.

In [181]:
marks = { }

In [193]:
x = int(input("stats marks :"))
marks.update({"stats":x})

x = int(input("bio marks :"))
marks.update({"bio":x})

x = int(input("maths marks :"))
marks.update({"maths":x})

stats marks :35
bio marks :45
maths marks :65

In [194]:
marks

{'stats': 35, 'bio': 45, 'maths': 65}

#Figure out a way to store 9 & 9.0 as separate values in the set.

#(You can take help of built-in data types)

In [210]:
values = {9,"9.0"}
values

{9, '9.0'}

In [209]:
values = {
        ("float" ,9.0,
         "int" , 9)
    }
values

{('float', 9.0, 'int', 9)}

In [212]:
type(values)

set

Q #Store following word meanings in a python dictionary :
    
    - table : “a piece of furniture”,“list of facts & figures”
        
    - cat : “a small animal”

In [161]:
dict = {
    "table" : ("a piece of furniture", "list of facts & figures"),
    "cat"   : "a small animal"
    
}

In [162]:
dict

{'table': ('a piece of furniture', 'list of facts & figures'),
 'cat': 'a small animal'}

Q#You are given a list of subjects for students. Assume one classroom is required for 1 subject.

#How many classrooms are needed by all students.

        "python","java","C++","python","javascript",
        "java","python","java","C++","C"

as mentioned above : one classroom is required for 1 subject:
so,
classroom_1 = "python"
classroom_2 = "java"
classroom_3 = "C++"
classroom_4 = "C"
classroom_5 = "javascript"

In [175]:
subjects = {"python","java","C++","python","javascript",
        "java","python","java","C++","C"}

In [176]:
len(subjects)

5

# Difference between sets and dict:
In Python:

    - "A set is a collection of unique elements, while a dictionary is a collection of key-value pairs."

# sets:
   
   - Set Syntax:
    
        Sets are defined using curly braces {}.
        
        Elements inside a set are separated by commas.
        
        Sets can contain only unique elements (no duplicates).
    
            my_set = {1, 2, 3, 4, 5}
            
   - Dictionary Syntax:
   
        Dictionaries are defined using curly braces {}.
        
        Each element in a dictionary is a key-value pair, separated by a colon :.
        
        Key-value pairs are separated by commas.

            my_dict = {'name': 'John', 
                       'age': 30, 
                       'city': 'New York'
                       }
     
in short :
        
            Sets: {element1, element2, ...}
            
            Dictionaries: {key1: value1, key2: value2, ...}

# Loops in Python

- Loops are used to repeat instructions.
            
    # while Loops:
            
            while condition :
            #some work

            
            
                 -      print hello 5 times
                        print numbers from 1 to 5

                        show infinite, iterator

In [214]:
#example:
#print hello 5 times

In [225]:
i = 1 # iterator ("A variable that helps us iterate through a loop is called an iterator." eg :i,k,j,l....) 

while i <= 5 :
    print("hello",i)
    i+=1

hello 1
hello 2
hello 3
hello 4
hello 5

In [224]:
print(i)

6

In [226]:
#Print numbers from 1 to 100.

In [228]:
#using while loop :

i = 1
while i <= 100 :
    print("hello",i)
    i+=1

hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10
hello 11
hello 12
hello 13
hello 14
hello 15
hello 16
hello 17
hello 18
hello 19
hello 20
hello 21
hello 22
hello 23
hello 24
hello 25
hello 26
hello 27
hello 28
hello 29
hello 30
hello 31
hello 32
hello 33
hello 34
hello 35
hello 36
hello 37
hello 38
hello 39
hello 40
hello 41
hello 42
hello 43
hello 44
hello 45
hello 46
hello 47
hello 48
hello 49
hello 50
hello 51
hello 52
hello 53
hello 54
hello 55
hello 56
hello 57
hello 58
hello 59
hello 60
hello 61
hello 62
hello 63
hello 64
hello 65
hello 66
hello 67
hello 68
hello 69
hello 70
hello 71
hello 72
hello 73
hello 74
hello 75
hello 76
hello 77
hello 78
hello 79
hello 80
hello 81
hello 82
hello 83
hello 84
hello 85
hello 86
hello 87
hello 88
hello 89
hello 90
hello 91
hello 92
hello 93
hello 94
hello 95
hello 96
hello 97
hello 98
hello 99
hello 100

In [231]:
#Print numbers from 100 to 1.

In [236]:
#using while loop :

i = 100
while i >= 1 :
    print("hello",i)
    i-=1

hello 100
hello 99
hello 98
hello 97
hello 96
hello 95
hello 94
hello 93
hello 92
hello 91
hello 90
hello 89
hello 88
hello 87
hello 86
hello 85
hello 84
hello 83
hello 82
hello 81
hello 80
hello 79
hello 78
hello 77
hello 76
hello 75
hello 74
hello 73
hello 72
hello 71
hello 70
hello 69
hello 68
hello 67
hello 66
hello 65
hello 64
hello 63
hello 62
hello 61
hello 60
hello 59
hello 58
hello 57
hello 56
hello 55
hello 54
hello 53
hello 52
hello 51
hello 50
hello 49
hello 48
hello 47
hello 46
hello 45
hello 44
hello 43
hello 42
hello 41
hello 40
hello 39
hello 38
hello 37
hello 36
hello 35
hello 34
hello 33
hello 32
hello 31
hello 30
hello 29
hello 28
hello 27
hello 26
hello 25
hello 24
hello 23
hello 22
hello 21
hello 20
hello 19
hello 18
hello 17
hello 16
hello 15
hello 14
hello 13
hello 12
hello 11
hello 10
hello 9
hello 8
hello 7
hello 6
hello 5
hello 4
hello 3
hello 2
hello 1

In [237]:
#Print the multiplication table of a number n.

In [242]:
number = int(input("enter a number :"))

i= 0 #initialization

while i <=10: # condition
    print(number*i)
    i+=1 #update 
print(i)

enter a number :5
0
5
10
15
20
25
30
35
40
45
50
11

In [257]:
#Print the elements of the following list using a loop:

#[1, 4, 9, 16, 25, 36, 49, 64, 81,100]


# logic :
#               nums[0],
#               num[1],
#               num[2],
#               .....like use of indexing in loop we get the numbers inside the list present .

In [255]:
# its called traverse

nums = [1, 4, 9, 16, 25, 36, 49, 64, 81,100]

idx = 0 # idx represent index 

while idx < len(nums):
    print(nums[idx])#num[0],num[1],num[2]....
    idx+=1

1
4
9
16
25
36
49
64
81
100

In [259]:
#Search for a number x in this tuple using loop:
#[1, 4, 9, 16, 25, 36, 49, 64, 81,100]

In [265]:
num = [1, 4, 9, 16, 25, 36, 49, 64,36,81,100]

x = 36

i = 0

while i < len(num):
    if x == num[i]:
        print("found" , i)
    else:
        print("finding")
    i+=1

finding
finding
finding
finding
finding
found 5
finding
finding
found 8
finding
finding

# Break & Continue


- Break : used to terminate the loop when encountered.

- Continue : terminates execution in the current iteration & continues execution of the loop
    with the next iteration.
    
take search example

& stop the search when found

print all numbers but not multiple of 3

In [282]:
i=1

while i <=5:
    print(i)
    if(i==3):
        break
    i+=1

1
2
3

In [92]:
#Linear search :search in a single line 
num = [1, 4, 9, 16, 25, 36, 49, 64,36,81,100]

x = 36

i = 0

while i < len(num):
    if x == num[i]:
        print("found" , i)
        break
    i+=1

found 5

In [293]:
i=1

while i <=5:
    if(i==3):
        i+=1
        continue # skip 
    print(i)
    i+=1

1
2
4
5

In [299]:
# odd numbers 
i=1

while i <=10:
    if(i%2 == 0):
        i+=1
        continue # skip 
    print(i)
    i+=1

1
3
5
7
9

# for Loops in Python

In [2]:
#Loops are used  for sequential traversal. For traversing list, string, tuples etc.

# syntax:

#for item in iterable:

#Code block to be executed for each item

#for loop with else :

for el in list:
#some work
for Loop with else

else: this is optional
    #work when loop ends

# # range( )

#range( ):

    - Range functions returns a sequence of numbers, starting from 0 by default, 
    and increments by 1 (by default), and stops before a specified number.    

   # range( start?, stop, step?)

In [84]:
# range( start?, stop, step?)
#start is optional and step also but stop is needed

In [87]:
#example :
for num in range(5):
    print(num)

0
1
2
3
4

In [81]:
for num in range(0,6,1):#start = 0,step = 1 ,stop/end = 6
    print(num)# ending no is not included

0
1
2
3
4
5

In [82]:
seq = range(10)

for i in seq:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [91]:
#Even numbers print :
for i in range(2,101,2):
    print (i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [94]:
#Print numbers from 1 to 100.

In [101]:
for i in range(1,101,1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
#Print numbers from 100 to 1.

In [103]:
for i in range(101,0,-1):
    print(i)

101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

# using for & range( )

In [ ]:
#Print the multiplication table of a number n.

In [134]:
n = int(input("enter number:"))

for i in range (1,11,1):
    print(i*n)

enter number:28
28
56
84
112
140
168
196
224
252
280

## Pass Statement

- pass is a null statement that does nothing. It is used as a placeholder for future code.

In [138]:
for i in range(5):
    pass #no work in loop 

print("some space")

some space

my_list = [1, 2, 3, 4, 5]

for num in my_list:

    print(num)

In [3]:
my_list = [1, 2, 3, 4, 5]

for num in my_list:# item = num , my_list = iterable 
        print(num)

1
2
3
4
5

In [8]:
str = "Datascience"

for char in str:
    print(char)

D
a
t
a
s
c
i
e
n
c
e

In [15]:
str = "apnacollege"

for char in str:
    if(char == 'o'):
        print("o found")
        break
    print(char)
print("END")

a
p
n
a
c
o found
END

#Print the elements of the following list using a loop:
[1, 4, 9, 16, 25, 36, 49, 64, 81,100]

In [274]:
num_list = [1, 4, 9, 16, 25, 36, 49, 64, 81,100]

for num in num_list:
    print(num)

1
4
9
16
25
36
49
64
81
100

In [93]:
#Linear search :
#Search for a number x in this tuple using loop:
#[1, 4, 9, 16, 25, 36, 49, 64, 81,100]

In [36]:
num_list = [1, 4, 9, 16, 25, 36, 49, 64, 81,100]

x = 49

idx = 0

for num in num_list:
    if (num == x):
        print("num found at index: ",idx)
        break
    idx += 1
    print(num)

1
4
9
16
25
36
num found at index:  6

# Questions :

In [39]:
#Sum of Numbers: Write a Python program to calculate the sum of all the numbers in a given list.

In [155]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

sum = 0 #iterator


for i in nums:  #Iterate through each number in the list
    sum += i  #Add the current number to the sum

print(nums,"sum =",sum)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] sum = 55

In [40]:
#Count Even Numbers: Write a Python program to count the number of even numbers in a given list.

In [59]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

count_even = 0

for num in nums:
    if(num % 2 == 0):
        print(num)
        count_even+=1

print("count of even no :",count_even)

2
4
6
8
10
count of even no : 5

In [ ]:
#Reverse a String: Write a Python program to reverse a given string using a for loop.

In [175]:
# Define the input string
string = "alexa"

# Initialize an empty string to store the reversed string
reversed_string = ""

# Iterate over the input string in reverse order using a for loop
for char in string[::-1]:
    reversed_string += char

# Print the reversed string
print("String:", string)
print("Reversed String:", reversed_string)

String: alexa
Reversed String: axela

# nested loop

In [ ]:
#Pattern Printing: Write a Python program to print the following pattern using nested loops:
                    """
                    1
                    1 2
                    1 2 3
                    1 2 3 4
                    1 2 3 4 5

                    """

In [121]:
#Explaining of code :

#1.We're asking the user to input a number (num) using input() function.

#We're iterating over a range of numbers from 1 to num using a loop (for i in range(1, num+1):).

#For each number i, we're iterating over another range from 1 to i using another loop (for j in range(1, i+1):).

#Within the inner loop, we're printing the value of j followed by a space to keep the numbers in the same line (print(j, end=" ")).

#After each inner loop, we print an empty print() statement to move to the next line for the next set of numbers.

In [124]:
num = int (input(" enter number :"))

for i in range(1,num+1):
    for j in range(1,i+1):
        print(j, end = " ")

    print( ) #print an empty print() statement to move to the next line for the next set of numbers

 enter number :5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#Palindrome Check: Write a Python program to check if a given string is a palindrome or not using a for loop.

In [129]:
string = input("enter a string:")

def ispalindrome(string):
    if (string == string[::-1]):
        print("its a palindrome:",string)
    else:    
        print("its not a palindrome:",string)

string_check = ispalindrome(string)

string_check

enter a string:1,2,3
its not a palindrome: 1,2,3

In [133]:
#Fibonacci Sequence: Write a Python program to generate the Fibonacci sequence up to a given number of terms.

#Fibonacci Sequence: In the Fibonacci sequence, each number is the sum of the two preceding ones.
#It starts with 0 and 1, and then each subsequent number is the sum of the previous two. 
#So, the Fibonacci sequence goes like this: 0, 1, 1, 2, 3, 5, 8, 13, and so on.

lets take :
0,1,2,3,4,5

so the sequence is like : 
starts with 0 and 1

1 = (1+0) = 1,
2 = (2+1) = 2,
3 = (3+2) = 5,
4 = (4+5) = 8,
5 = (5+8) = 13,.....like this

In [181]:
def fibonacci_sequence(num_terms):
    
    a, b = 0, 1
    fibonacci_series = []

    for _ in range(num_terms):
        fibonacci_series.append(a)

#a=b,b=c,c=a+b(swaping: where we assign value of a in b , and then value of b in c anf then c value  = a+b)        
        a, b = b, a + b # in short like this 
# where b takes the value of a, and a takes the sum of a and b 
  
    return fibonacci_series
def main():
    num_terms = int(input("Enter the number of terms: "))

    # Generate the Fibonacci sequence
    sequence = fibonacci_sequence(num_terms)

    # Print the Fibonacci sequence
    print("Fibonacci Sequence:")
    for term in sequence:
        print(term)

# Call the main function directly
main()

Enter the number of terms: 10
Fibonacci Sequence:
0
1
1
2
3
5
8
13
21
34

In [179]:
def fibonacci_sequence(num_terms):
    a, b = 0, 1
    fibonacci_series = []

    for _ in range(num_terms):
        fibonacci_series.append(a)
        a, b = b, a + b  # Update Fibonacci sequence values

    return fibonacci_series

def main():
    num_terms = int(input("Enter the number of terms: "))

    # Generate the Fibonacci sequence
    sequence = fibonacci_sequence(num_terms)

    # Print the Fibonacci sequence
    print("Fibonacci Sequence:")
    print(sequence)

# Call the main function directly
main()

Enter the number of terms: 10
Fibonacci Sequence:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [188]:
#using only for loops 

sequence = [0, 1]  # Start with the first two terms

for _ in range(2, num_terms):
    sequence.append(sequence[-1] + sequence[-2])  # Add the next term by summing the last two terms

num_terms = int(input("Enter the number for Fibonacci sequence: "))    
print("Fibonacci Sequence:", sequence)

Enter the number for Fibonacci sequence: 10
Fibonacci Sequence: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [193]:
#making function :

def fibonacci(num_terms):
    sequence = [0, 1]  # Initialize the Fibonacci sequence with the first two terms

    # Generate Fibonacci sequence up to num_terms terms
    for _ in range(2, num_terms):

        sequence.append(sequence[-1] + sequence[-2])  

    return sequence

# Example usage:
num_terms = int(input("Enter the number of terms for Fibonacci sequence: "))
sequence = fibonacci(num_terms)
print("Fibonacci sequence :", sequence)

Enter the number of terms for Fibonacci sequence: 10
Fibonacci sequence : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#Q Factorial Calculation: Write a Python program to calculate the factorial of a given number using a for loop.

In [67]:
fact = 1
n = 5

for i in range (1, n+1):
    fact*=i
    
print("factorial of number:",i,"=",fact)

factorial of number: 5 = 120

In [139]:
#Let‘s Practice

In [140]:
#WAP to find the sum of first n numbers.

In [158]:
n = int(input("enter numbers:"))

sum = 0

i =1

while i <= n:
    sum +=i
    i+=1
    
print("total sum :",sum )

enter numbers:5
total sum : 15

In [159]:
#Using for loop :

In [196]:
n = int(input("enter numbers:"))

sum = 0

for i in range (1,n+1):
    sum +=i
    

print("total sum :",sum )

enter numbers:5
total sum : 15

In [156]:
#WAP to find the factorial of first n numbers. (using for)

In [ ]:
#factorial  = 5 = 1x2x3x4x5
#n=2=>2(2x1)
#n=3=>6(3x2)
#n=4=>24(6x4)
#n=5=>120
#....

In [170]:
n = 5


fact = 1
i = 1

for i in range(1,n+1):
    fact*=i
print("factorial value :",fact)

factorial value : 120

# Functions in Python

keep in mind doing in functions :

"""
input kya ayega ,
find kya krna hai and ,
output kya ayega 
"""

#syntax:
        def function_name(parameters):
        # Function body
        # Code goes here
        # You can perform operations, conditionals, loops, etc.

        # Optionally, you can use the return statement
        return value_to_return

#Definition:

"""
def greet(name):

    print("Hello, " + name + "!")

greet("Alice")

"""

- Block of statements that perform a specific task.

- Functions help to avoid repeating (redundant code) the same code by allowing you to define and reuse tasks whenever needed.

- redundant code is not a good way of doing code

In [234]:
def greet(name):
    print("Hello, " + name + "!")
greet("Alice")

Hello, Alice!

def func_name( param1, param2..) :#Function Definition
#some work
return val

func_name( arg1, arg2 ..) #function call

In [235]:
#Example :
# function defination
def calc_sum(a,b):#parameters
    return a+b

sum = calc_sum(178,2221)#function call:arguments
print(sum)

2399

In [236]:
def print_hello():
    print("hello")

In [237]:
print_hello()

hello

"""#average of 3 numbers :
def numbers(a, b, c):
    total = a + b + c
    avg = total / 3
    print(avg)
    return avg

numbers(1, 2, 3)
"""
its causing error in jupyter other wise its correct

In [238]:
def numbers(a, b, c):
    total = a + b + c
    """Average of 3 numbers."""
    
    avg = total / 3
    return avg

result = numbers(1, 2, 3)
print(result)

2.0

# Parameters and Arguments:

In [241]:
def greet(name):
    print("Hello, " + name + "!")

greet("Alice")  # Output: Hello, Alice!

Hello, Alice!

# Return Values:

In [242]:
def add(a, b):
    return a + b

result = add(3, 5)
print(result)  # Output: 8

8

In [ ]:
#Built-in Functions                User defined Functions
- print( )

- len( )

- type( )

- range( )

In [248]:
print("prachi", 
      "people")

prachi people

# Default Parameters

In [249]:
#Assigning a default value to parameter, which is used when no argument is passed.

In [259]:
#for eg:
def multiply(a=1, b=2):
    
    return a * b
    
result = multiply()
print (result)

2

# practice :

In [68]:
#Write A Function  to convert USD to INR.
#$ ->  (₹)
#To convert USD to INR, you need to multiply the amount in USD by the current exchange rate,
#which tells you how many INR you get for 1 USD.

In [69]:
#"You figure out how much money you have in rupees by multiplying the number of dollars you have by the exchange rate."

In [92]:
# another way :
def usd_inr(amt_usd,exch_rate):
    return (amt_usd * exch_rate)
    
inr_amt = usd_inr(100,83.46)
print("amount in inr",inr_amt)

amount in inr 8346.0

In [93]:
# another way :(Easiest one )
num = int(input("Enter amount in USD: "))

inr = 83.46*num #assuming the conversion rate is 1 USD = 75 INR

print(inr)

Enter amount in USD: 100
8346.0

In [102]:
# another way :
import pandas as pd

def convert(df, usd_inr):
    df['amt_inr'] = df['amt_usd'] * usd_inr
    return df

data = {'amt_usd': [10, 20, 30],
        'exch_rate': [83.46,83.46 ,83.46]} 
df = pd.DataFrame(data)

#usd_inr = 83.46

converted_df = convert(df, usd_inr)
print(converted_df)

   amt_usd  exch_rate  amt_inr
0       10      83.46    834.6
1       20      83.46   1669.2
2       30      83.46   2503.8

In [107]:
# another way :
def dollars_rupees(dollars):
    exchange_rate = 83.46
    rupees = dollars * exchange_rate
    return rupees

rupees = dollars_rupees(100)
print("Equivalent amount in rupees:", rupees)

Equivalent amount in rupees: 8346.0

In [114]:
def converter(usd_val):
    inr_val = usd_val * 83
    
    print(usd_val,"USD =",inr_val,"INR")
    
converter(1)

1 USD = 83 INR

In [108]:
#WAF to print the length of a list. ( list is the parameter)



cities = ["alexa","joe",1,2,5,"crazy"]

len (cities)

In [56]:
#we have to ptint this using function:
def print_L(cities):
    print(len(cities))

cities = ["alexa","joe",1,2,5,"crazy"]
print_L(cities)

6

In [35]:
#WAF to print the elements of a list in a single line. ( list is the parameter)
# like that List = ["alexa","joe","ZEROES","crazy"]

In [61]:
#1.:
def char( list):
    for ele_s in list:
        print(ele_s,end =" ")# list in a single line
        
List = ["alexa","joe","ZEROES","crazy"]
char(List)

alexa joe ZEROES crazy

In [4]:
# or
def print_list_elements(lst):
    print(*lst, sep=' ')

# Example usage:
my_list = [1, 2, 3, 4, 5]
print_list_elements(my_list)

1 2 3 4 5

In [5]:
words = ["apple", "banana", "orange", "grape"]
print(*words, sep=' ')

#print(*lst, sep=' ') unpacks and prints the elements of the list lst with a space between each element.

apple banana orange grape

In [9]:
def num(lst):
    print(*lst,sep = ' ')
    
lst_1 = [1,"m",2,'n',3,'b',4,'p',5,'b']
num(lst_1)

1 m 2 n 3 b 4 p 5 b

In [14]:
def num(lst):
    for ele in lst:
        print(ele,end= ' ')
        #end = ' ' = for print in same line ,
        #sep = ' ' = for print in the next line .
lst_1 = [1,"m",2,'n',3,'b',4,'p',5,'b']
num(lst_1)

1 m 2 n 3 b 4 p 5 b

In [15]:
def num(lst):
    for ele in lst:
        print(ele,sep= ' ')
        #end = ' ' = for print in same line ,
        #sep = ' ' = for print in the next line .
lst_1 = [1,"m",2,'n',3,'b',4,'p',5,'b']
num(lst_1)

1
m
2
n
3
b
4
p
5
b

In [290]:
#WAF to find the factorial of n. (n is the parameter)

In [21]:
def fac(n):                                                    
    if n == 0: # the factorial of 0 is defined to be 1   
        return 1
    else:
        return n * fac(n-1)
    
num = fac(5)
print("Factorial of 5 is:", result)

Factorial of 5 is: 120

In [81]:
#WAF which takes a number as an input and check a if its odd or even 
#if its odd -> return a string odd , if its even return a string even in the output

In [92]:

def odd_even(num):
    if num % 2==0:
        return " even "
    else:
         return " odd "
    
num = int(input("Enter a number: "))
result = odd_even(num)
print("The number is", result)

Enter a number: 28
The number is  even

In [94]:
def odd_even(num):
    return "even" if num % 2 == 0 else "odd"

num = int(input("Enter a number: "))
result = odd_even(num)
print("The number is", result)

Enter a number: 28
The number is even

## Recursion

- When a function calls itself repeatedly.

In [203]:
# call stack functioning :(important )

In [51]:
def show(n):
    #stopping condition 
    if(n == 0):#base case (Where to stop this function )

        return#important to write otherwise function crash 
    print(n)
    show(n-1)#again call show function 
    
show(5)

5
4
3
2
1

In [207]:
#through factorial :
#(recrusense relation )

In [ ]:
#factorial:
#fact(n) = fact(n-1)xn
#fact(n-1) = fact(n-2)(n-1).....

In [208]:
def fact(n):
    if(n == 1 or n ==0):
        return 1
    return fact(n-1) * n
print(fact(5))

120

In [49]:
#for practice :
#Write a recursive function to calculate the sum of first n natural numbers.




def fun_sum(n):
    if(n == 0):
        return 0
    print(n)
   
    return fun_sum(n-1)+n
    #sum(5)->sum(4)+5
    #sum(4)->sum(3)+4
    #sum(3)->sum(2)+3....like this 


sum = fun_sum(5)
print("sum of first n natural numbers ","=",sum)

5
4
3
2
1
sum of first n natural numbers  = 15

In [95]:
def fun_sum(n):
    result = 0
    while n > 0:
        print(n)
        result += n
        n -= 1
    return result

sum_result = fun_sum(5)
print("sum of first n natural numbers =", sum_result)

5
4
3
2
1
sum of first n natural numbers = 15

In [50]:
#Write a recursive function to print all elements in a list.

#Hint : use list & index as parameters.

In [52]:
def print_list(list,idx = 0):
    if(idx == len(list)):
        return
    print(list[idx])
    print_list(list, idx+1)
    
fruits = ["Apple","Guava","Litchi","Avacado"]
print_list(fruits)

Apple
Guava
Litchi
Avacado

# FILE I/O in Python

# Python can be used to perform operations on a file. (read & write data)

# Types of all files

- 1.Text Files : .txt, .docx, .log etc.

- 2. Binary Files : .mp4, .mov, .png, .jpeg etc. 

but they all are stored as a 0, and  formates in system

#for example :
- 1.Text Files : .txt, .docx, .log etc.

In [80]:
# for only text file open :

f = open("Testing for text file open .txt","r+t")# reading and testing is the default mode in python 
data = f.read()
print(data)
print(type(data))
f.close()

Hi

testing ...

For I/O FILE (OPEN) in jupyter.....
<class 'str'>